@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
    height: 1920px;
}

.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    width: 100%;
    height: 75px;
    display: flex;
    background: linear-gradient(to right, black, #C0587E);
    z-index: 1000;
    user-select: none;
}

.logo-math {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 60px;
    color: white;
    font-size: 40px;
    font-family: 'Caveat';
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo-math:hover {
    cursor: pointer;
    color: #C0587E;
}

.logo-math > p {
    margin-block: 0px;
    height: 100%;
    width: 100%;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 100%;
    width: 40%;
}

.menu-bar > div {
    display: flex;
    height: 100%;
    width: 30%;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
}

.menu-bar > div:hover {
    cursor: pointer;
    color: #99CEE0;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.level.first {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: 800px;
    background-image: url(../media/side-view-kids-learning.png);
    background-size: cover;
}

.level.first > div {
    display: flex;
    flex-direction: column;
    margin-top: 175px;
}

.level.first > div > a {
    font-family: 'Inter', serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.buttons.class {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
}

#signup {
    background-color: #efff45;
}

#contact {
    background-color: #F5A534;
}

#signup > a {
    margin: 0 auto;
}


#contact > a {
    margin: 0 auto;
}

.buttons.class > div {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    border: 2px white solid;
    border-radius: 40px;
    height: 70px;
    width: 300px;
    margin: 20px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.level.second {
    display: flex;
    flex-direction: column;
    height:800px;
    width: 100%;
}

.titles {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.level.second a:first-child {
    font-size: 40px;
    font-weight: bold;
}

.level.second a:nth-child(2) {
    font-size: 18px;
    margin-top: 10px;
}

.reasons {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-self: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.row > div > img {
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

.aspect {
    display: flex;
    width: 600px;
}

.aspect.second, .aspect.fourth, .aspect.sixth {
    margin-left: 100px;
}

.text.aspect {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.text.aspect > a:first-child {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 30px;
}

.text.aspect > a:nth-child(2) {
    margin-top: 20px;
}

.text.aspect > a > span {
    font-weight: 500;
}

.level.third {
    display: flex;
    flex-direction: column;
}




